<h3 style="background-color:white;color:red;">
    <%= message %>
</h3>
<h3 style="background-color:white;color:red;">
    <%= error.status %>
</h3>
<pre style="background-color:white;color:red;"><%= error.stack %></pre>