<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h2>
        <%= title %>
    </h2>
    <p>This is the
        <%= title %> 1.0

    </p>

    <br>
    <a href="/generated">PLEASE CLICK HERE TO CONTIUE</a>
</body>

</html>